@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap');

:root{
    --aero-blue: #D7FFF1;
    --granny-smith: #AAFCB8;
    --grass-green: #8CD790;
    --green-sheen: #77AF9C;
    --castleton-green: #285943;
    --black: #001000;
}

html{
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: 'Manrope', sans-serif;
    background-color: whitesmoke;
    scrollbar-color: var(--castleton-green) transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar{
    width: 2px;
}



body{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin:0;
    margin: auto;
    
}

.wrapper{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 800px;
}

nav{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    gap: 30px;
    padding: 0 50px;
}

nav .api-btn{
    padding: 6px 12px;
    background-color: var(--castleton-green);
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgb(0,0,0,0.4);
    font-weight: 800;
    color: var(--grass-green);
}

nav .api-btn:hover{
    text-decoration: none;
    opacity: .8;
    box-shadow: 1px 1px 1px rgb(0,0,0,0.6);
}

main{
    min-height: 100vh;
    max-width: 600px;
}

main h1{
    font-weight: 800;
    font-size: 3rem;
    color: var(--castleton-green);
    margin: 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-decoration-color: var(--grass-green);
}

main p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

.search-container{
    margin-top: 50px;
}

.search-container input{
    width: 600px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(255,255,255, 0.4);
    border: 1px solid rgb(255,255,255,0.6);
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--castleton-green);
}

.search-container input::placeholder{
    font-weight: 400;
    font-size: 1.2rem;
}

.search-container input:focus{
    outline: none;
}
.hide{
    display: none;
}

.recipe-items{
    margin: 80px 0;
    height: 60vh;
    padding: 10px;
    width: 600px;
    overflow-y: scroll;
    overflow-x:hidden;
    scrollbar-width: thin;
    background-color: rgb(255,255,255, 0.4);
    border: 1px solid rgb(2555,255,255,0.6);
    border-radius: 6px;
}

.recipe-items template{
    margin: 20px;
}

.item{
    margin: 30px 0;
    width: 600px;
    text-shadow: 1px 1px 1px rgb(0,0,0,0.4);
}

h2{
    margin:0;
    font-weight: 800;
    color: var(--castleton-green);
}

a{
    text-decoration: none;
    color: var(--black);
    font-weight: 400;
}

a:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}


footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 200;
    padding: 0 50px;
}

.empty{
    display: none;
    font-weight: 800;
    color: var(--castleton-green);
}

@media (max-width: 600px){
    nav, footer{
        padding: 0 20px;
    }
    .wrapper{
        width: 300px;
    }

    .main, 
    .search-container input,
    .recipe-items, 
    .item{
        width: 280px;
    }

    footer {
        font-size: .9rem;
    }
}